@import "tailwindcss";
@plugin "daisyui" {
    prefix: "daisy-";
}

/* customize existing theme to use custom variables */
@plugin "daisyui/theme" {
    name: forest;
    prefersdark: true;
    default: true;

    --custom-spacing-xl: calc(
        var(--spacing) * 32
    ); /* For main page layout margins and significant separation. */
    --custom-spacing-lg: calc(
        var(--spacing) * 16
    ); /* For separating larger components or sections. */
    --custom-spacing-md: calc(
        var(--spacing) * 8
    ); /* For standard component padding or gaps between items. */
    --custom-spacing-sm: calc(
        var(--spacing) * 4
    ); /* For small gaps or inner padding in compact elements. */
    --custom-spacing-xs: calc(
        var(--spacing) * 2
    ); /* For tiny gaps, like between an icon and text. */
}
